{% extends 'base.html' %}

{% block title %}
<title>Про магазин</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Про магазин</h1>
    <p>«Добро пожаловать в наш интернет-магазин! Наша компания приветствует всех, кто зашёл на сайт!»</p>
    <p>«Наш интернет-магазин предлагает самые низкие цены, даже и не пытайтесь найти дешевле!»</p>
    <p>«Наша компания существует уже много лет, на рынке мы являемся самой надёжной и успешной компанией. Покупайте в нашем интернет-магазине снова и снова.»</p>
    <p>«Поверьте, у нас есть всё необходимое. Вашему вниманию самый широкий ассортимент товаров на всём рынке.»</p>
    <p>«Ждём вас за покупками каждый день, мы всегда к вашим услугам!»</p>
</div>

{% endblock %}

